/* Styling for map */
body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    color: #fff;
=======
>>>>>>> 7a58b6ab96bd171ceefbd65c0aa39dd5b729acd7
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
    }
     
    .map-overlay .map-overlay-inner {
    background-color: #212121;
    box-shadow: 3px 3px 3px rgb(255, 253, 253);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    }
     
    .map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
    }
     
    .map-overlay .legend .bar {
    height: 10px;
    width: 100%;
<<<<<<< HEAD
    background: linear-gradient(to right, #008000, #7f3121);
=======
    background: linear-gradient(to right, #008000, #7F3121);
>>>>>>> 7a58b6ab96bd171ceefbd65c0aa39dd5b729acd7
    }
     
    .map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
    }
<<<<<<< HEAD
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
=======
#slider-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 1;
}

#slider {
    width: 100%;
}
>>>>>>> 7a58b6ab96bd171ceefbd65c0aa39dd5b729acd7
