<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Housing in Metro Austin</title>
  <script scr="{{url_for('static', filename= app.js)}}"></script>
</head>

<body>
  <h1> Austin Housing Market </h1>
  <ul>
    <li><a href="indexLineGraphsDraft.html">Line Graphs</a></li>
    <li><a href="map.html">Map View</a></li>
    <li><a href="SummaryComparison.html">Summary Table</a></li>
  </ul>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/lineGraphsDraft.js"></script>
  <script src="static/map.js"></script>
  <script src="static/SummaryComparison.js"></script>
</body>

</html>