<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zestimates Over Time</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</head>

<body style="background-color: #CC5500;">
    <h1>The Housing and Rental Market in Austin</h1>
    <h2>Comparing Austin Zipcodes</h2>
    <div id="lineplot"></div>
  
    <select id="toggleOptions">
      <option value="AustinLove">AustinLove</option>
      <option value="zestimates">Zestimates</option>
      <option value="zPercentChange">Percent Change in Zestimate</option>
      <option value="rental">Rentals Prices</option>
      <option value="rPercentChange">Percent Change in Rentals Prices</option>
    </select>
  
  <script src="../static/lineGraphsDraft.js"></script>  
  
  </body>
  
  </html>